# Possible build dirs:
build*/
homebrew/
release/

# System files
*.DS_Store*

# Project files
CMakeLists.txt.user*

# Debian/build
obj*
webos/package-staging/org.webosarchive.vlcplayer/

# webOS build artifacts
webos/bundled-libs/
webos/.setup-temp/
